In [1]:
# check data balance

In [2]:
import numpy as np
import pandas as pd

In [3]:
!pwd

/Users/qiushisun/GitHub-Repos/CodeIsPower_Prompt/data_probing

In [4]:
train = pd.read_csv('../datasets/MRPC/13/train.tsv', sep='\t', header = None, names=['s1','s2','label'])

In [5]:
train.head()

,s1,s2,label
0,The court 's 1992 decision reaffirmed the basi...,"In a 1992 case , the Supreme Court reaffirmed ...",Equivalent
1,Several cities are competing for the headquart...,But Miami is competing with eight other cities...,Equivalent
2,Feral 's group was behind a successful tourism...,"Friends of Animals , which touts 200,000 membe...",Equivalent
3,"After all , China isn 't racing anyoneso there...","After all , China isn ’ t racing anyone … so t...",Equivalent
4,"So far , however , only four companies have li...","So far , only four companies have licensed Mic...",Equivalent

In [6]:
label_type_counts = train.groupby("label").label.value_counts()

In [7]:
label_type_counts

label          label
Equivalent     Equivalent       12
NotEquivalent  NotEquivalent    14
Name: label, dtype: int64

In [10]:
train = pd.read_csv('../datasets/MRPC/42/train.tsv', sep='\t', header = None, names=['s1','s2','label'])
label_type_counts = train.groupby("label").label.value_counts()

In [11]:
label_type_counts

label          label
Equivalent     Equivalent       16
NotEquivalent  NotEquivalent    16
Name: label, dtype: int64

In [13]:
train = pd.read_csv('../datasets/MRPC/60/train.tsv', sep='\t', header = None, names=['s1','s2','label'])
label_type_counts = train.groupby("label").label.value_counts()

In [14]:
label_type_counts

label          label
Equivalent     Equivalent       16
NotEquivalent  NotEquivalent    16
Name: label, dtype: int64

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      32 non-null     object
 1   s2      32 non-null     object
 2   label   32 non-null     object
dtypes: object(3)
memory usage: 896.0+ bytes