In [1]:
# check data balance

In [2]:
import numpy as np
import pandas as pd

In [7]:
!pwd

/Users/qiushisun/GitHub-Repos/CodeIsPower_Prompt/data_probing

In [22]:
train = pd.read_csv('../datasets/SNLI/13/train.tsv', sep='\t', header = None, names=['s1','s2','label'])

In [24]:
train.head()

,s1,s2,label
0,a man is behind a cart trying to sell various ...,A man sells fruits from a cart.,Neutral
1,A large brown dog is jumping into the ocean.,The cat is jumping into the lake.,Contradiction
2,A black and tan dog in a orange jacket laying ...,The black and tan dog is out in the snow.,Entailment
3,A mother and a child are interacting in a retr...,A mother and child are communicating indoors.,Entailment
4,A man with his hands up in front of a table wi...,A surfer dude rests his hands on a buffet tabl...,Neutral

In [26]:
label_type_counts = train.groupby("label").label.value_counts()

In [27]:
label_type_counts

label          label
Contradiction  Contradiction    16
Entailment     Entailment       16
Neutral        Neutral          16
Name: label, dtype: int64

In [28]:
train = pd.read_csv('../datasets/SNLI/42/train.tsv', sep='\t', header = None, names=['s1','s2','label'])
label_type_counts = train.groupby("label").label.value_counts()

In [29]:
label_type_counts

label          label
Contradiction  Contradiction    16
Entailment     Entailment       16
Neutral        Neutral          16
Name: label, dtype: int64

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      48 non-null     object
 1   s2      48 non-null     object
 2   label   48 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB